---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeflow-trainer-public-reader
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  resourceNames:
  - kubeflow-trainer-public
  verbs:
  - get
