apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/kubernetes-sigs/jobset/releases/download/v0.11.0/manifests.yaml

# Add required patches.
patches:
# Remove namespace from the JobSet release manifests.
- path: patches/jobset_remove_namespace.yaml
  target:
    group: ""
    version: v1
    kind: Namespace
- target:
    group: apps
    version: v1
    kind: Deployment
    name: jobset-controller-manager
  patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: jobset-controller-manager
      namespace: kubeflow-system
    spec:
      template:
        metadata:
          annotations:
            traffic.sidecar.istio.io/excludeInboundPorts: "9443"
        spec:
          securityContext:
            seccompProfile:
              type: RuntimeDefault
