apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../overlays/manager
  - ../../overlays/runtimes
  - kubeflow-trainer-roles.yaml

patches:
  - path: patches/remove-namespace.yaml

  - path: patches/trainer-manager-istio-and-selectors.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: kubeflow-trainer-controller-manager

  - path: patches/jobset-controller-manager-istio.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: jobset-controller-manager
