apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ../../overlays/manager
  - ../../overlays/runtimes
  - kubeflow-trainer-roles.yaml

patches:
  - path: patches/remove-namespace.yaml
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: kubeflow-trainer-controller-manager
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: kubeflow-trainer-controller-manager
        namespace: kubeflow-system
      spec:
        selector:
          matchLabels:
            app: kubeflow-trainer
        template:
          metadata:
            labels:
              app: kubeflow-trainer
            annotations:
              traffic.sidecar.istio.io/excludeInboundPorts: "9443"
