name: Build and Publish Images

on:
  push:
    branches:
      - master
      - "release-*"
    tags:
      - "v*"
  pull_request:

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-publish:
    if: github.repository == 'kubeflow/trainer'

    strategy:
      fail-fast: false
      matrix:
        component:
          - name: trainer-controller-manager
            dockerfile: cmd/trainer-controller-manager/Dockerfile
            x86_platforms: linux/amd64
            arm_platforms: linux/arm64

          - name: model-initializer
            dockerfile: cmd/initializers/model/Dockerfile
            x86_platforms: linux/amd64
            arm_platforms: linux/arm64

          - name: dataset-initializer
            dockerfile: cmd/initializers/dataset/Dockerfile
            x86_platforms: linux/amd64
            arm_platforms: linux/arm64

          - name: deepspeed-runtime
            dockerfile: cmd/runtimes/deepspeed/Dockerfile
            x86_platforms: linux/amd64
            arm_platforms: linux/arm64

          - name: mlx-runtime
            dockerfile: cmd/runtimes/mlx/Dockerfile
            x86_platforms: linux/amd64

          - name: torchtune-trainer
            dockerfile: cmd/trainers/torchtune/Dockerfile
            x86_platforms: linux/amd64
            arm_platforms: linux/arm64

          - name: data-cache
            dockerfile: cmd/data_cache/Dockerfile
            x86_platforms: linux/amd64
            arm_platforms: linux/arm64

        arch:
          - name: x86
            runs-on: oracle-vm-16cpu-64gb-x86-64
            platforms_key: x86_platforms

          - name: arm64
            runs-on: oracle-16cpu-64gb-arm64
            platforms_key: arm_platforms

        exclude:
          - component:
              name: mlx-runtime
            arch:
              name: arm64

    uses: ./.github/workflows/template-publish-image/publish-images.yaml
    with:
      component-name: ${{ matrix.component.name }}
      dockerfile: ${{ matrix.component.dockerfile }}
      platforms: ${{ matrix.component[matrix.arch.platforms_key] }}
      context: .
      runs-on: ${{ matrix.arch.runs-on }}

    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
