name: Unit and Integration Test - Helm

on:
  - pull_request
  - push

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run Helm Unit Tests
        run: make helm-unittest

      - name: Setup Kind Cluster
        run: make test-e2e-setup-cluster K8S_VERSION=1.35.0

      - name: Run Go E2E Tests
        run: make test-e2e
